doctype html
html(ng-app='app')
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")

        title(ng-bind="(title || 'Keystone Angular Starter')") Keystone Angular Starter
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

        script(src="/app.js")

    body
        app